{% extends 'base.html.twig' %}

{% block title %}Invoice Reports{% endblock %}
{% block sidebar %}
<nav>
    <span>Invoice Report</span>
    <a href="{{ path('invoice_report_new') }}" class="sublink-1">Upload New Report</a>
</nav>
{% endblock %}

{% block content %}

    <table class="striped">
        <caption>Invoice Reports</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>File</th>
            <th>Records Uploaded</th>
            <th>Records Inserted</th>
            <th>Errors</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for report in records %}
            <tr>
                <td data-label="id">{{ report.id|e }}</td>
                <td data-label="File">{{ report.fileName|e }}</td>
                <td data-label="Records">{{ report.records|e }}</td>
                <td data-label="Errors">{{ report.invoices|length }}</td>
                <td data-label="Errors">{{ report.invoiceReportErrors|length }}</td>
                <td data-label="Created At">{{ report.createdAt|date('Y-m-d H:i:s') }}</td>
                <td data-label="Updated At">{{ report.updatedAt|date('Y-m-d H:i:s') }}</td>
                <td>
                    <a href="{{ path('invoice_report_error', {reportId: report.id}) }}" class="button secondary">Errors</a>
                    <a href="{{ path('invoice_list_by_report', {reportId: report.id}) }}" class="button tertiary">Invoices</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
